<header class="button heightfifth">
    <h1>{{details.checkpoint}}<span class="spanicon closer" data-icon="&#xe007;"></span></h1>
</header>

<p class="button black heightfifth"></p>

<a href="#" class="button heightfiftheen first"><span>{{details.cost}}</span></a>
<a href="#" class="button heightfiftheen second"><span>{{details.distance}}</span></a>
<a href="#" class="button heightfiftheen third"><span>{{details.time}}</span></a>
<a href="#" class="button heightfiftheen fourth"><span>{{details.transport}}</span></a>

<a href="{{details.id}}" id="btnDelete" class="button heightfifth red"><span>Delete <span data-icon="&#xe002;"></span></span></a>

<a href="{{details.trip_id}}" id="btnClose"><span data-icon="&#xe002;"></span></a>

