<header class="button heightfifth">
    <h1>{{name}}</h1>
</header>

<p class="button black heightfifth"></p>

<a href="{{id}}" id="btnCheckpoints" class="button heightfifth first"><span>Checkpoints</span></a>
<a href="{{id}}" id="btnFriends" class="button heightfifth second"><span>Friends</span></a>
<a href="{{id}}" id="btnBasics" class="button heightfifth third"><span>Basics</span></a>
<a href="{{id}}" id="btnDelete" class="button heightfifth red"><span>Delete <span data-icon="&#xe002;"></span></span></a>

<a href="#" id="btnClose"><span data-icon="&#xe002;"></span></a>
